<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<!--<add name="ConnectionString" providerName="SqlServer" connectionString="Data Source=192.168.31.110,1435\sql2008;Initial Catalog=master;User ID=lps;Password=123456"/>-->
		<add name="ConnectionString" providerName="SqlServer" connectionString="Persist Security Info=true;Data Source=47.100.96.78,1433\sql2008;Initial Catalog=master;User ID=sa;Password=HaoHuoban2018"/>
		<!--<add name="ConnectionString" providerName="SqlServer" connectionString="Persist Security Info=true;Data Source=rm-uf6a756hpnjcvi6d8go.sqlserver.rds.aliyuncs.com,3433\sql2012;Initial Catalog=master;User ID=lps;Password=abcdef_123123_"/>-->
		<!--<add name="ConnectionString" providerName="SqlServer" connectionString="Data Source=.;Initial Catalog=TestDB;User ID=sa;Password=Z6626294@"/>-->
		<add name="ConStringEncrypt" connectionString="false" />
		<add name="CyConnectionString" connectionString="Data Source = (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 11.101.2.204)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =orcl)));user= jdccy_sj; password=scxdcj;persist security info=false;Min Pool Size=10;Max Pool Size=10;Pooling=true;" />
		<add name="CyConStringEncrypt" connectionString="false" />
	</connectionStrings>
	<appSettings>
		<add key="ConnectionString" value="server=127.0.0.1;user id=sa; password=Z6626294@; database=MyDatabase;"/>
	</appSettings>
</configuration>
