<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="daaConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary
             .Data.Configuration.DatabaseSettings,icrosoft.Practices.EnterpriseLibrary
             .Data,Version=3.0.0.0,Culture=neutral
             ,PublicKeyToken=null"
             />
    <section name="entityMappingsConfiguration"
             type="KeyshawnPo.Infrastructure.RepositoryFramework.Configuration.RepositorySettings
             ,KeyshawnPo.Infrastructure
             ,Version=1.0.0.0,Culture=neatral
             ,PublicKeyToken=null"
             />
  </configSections>
</configuration>