<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="MysqlConnectionString" connectionString="server=localhost;uid=root;pwd=Z6626294@;database=infodb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
