<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="server=.;database=MyDatabase;uid=sa;password=Z6626294@" providerName="System.Data.SqlClient" />

    <add name="MysqlConnectionString" connectionString="server=localhost;uid=root;pwd=Z6626294@;database=infodb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>